body {
    text-align: center;
    background-color: #FDF3E7;
    font-family: arial;
}

h1 {
    color: #C63D0F;
    font-size: 50px;
}

h2 {
    margin-top: 0px;
    color: #333333;
    text-align: left;
    font-size: 2em;
}

h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}

aside {
    margin-top: 45px;
    float: left;
    background-color: #333333;
    border-radius: 10px;
    padding: 5px;
    height: 75vh;
    width: 10vw;
    text-align: center;
}

aside a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 0px 0px 10px 0px;
}

#messageBox {
    float: right;
    width: 85vw;
}

#messages {
    height: 75vh;
    max-height: 75vh;
    overflow-y: auto;
}

.messageDiv {
    background-color: #333333;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.messageContent {
    color: white;
    text-align: left;
    font-size: 1.1em;
}

.messageSender {
    color: white;
    font-size: 1.5em;
    font-style: bold;
    text-align: left;
    padding: 0px 0px 5px 0px;
}

.messageTime {
    color: white;
    font-size: .7em;
    font-style: italic;
    text-align: left;
}

form {
    width: 100%;
    margin-top: 15px;
}

#messageInput {
    width: 95%;
}

#sendButton {
    width: 4%;
    height: 90%;
}


