body {
    text-align: center;
    background-color: #FDF3E7;
    font-family: arial;
}

h1 {
    color: #C63D0F;
    font-size: 3.25em;
}

h2 {
    margin-top: 0px;
    color: #333333;
    text-align: left;
    font-size: 2em;
}

h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}

#contentContainer {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    width: 100%;
    align-items: stretch;
    align-content: stretch;
}

aside {
    background-color: #333333;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    flex-grow: 1;
    margin-left: 25px;
    margin-right: 25px;
}

aside a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 0px 0px 10px 0px;
}

#messageBox {
    flex-grow: 20;
    margin-left: 25px;
    margin-right: 25px;
}

@media (max-width: 999px) {
    #messageBox {
        width: 100%;
        margin: 0px;
    }
}

#messages {
    height: 75vh;
    max-height: 75vh;
    position: fixed;
    overflow-y: auto;
}

.messageDiv {
    background-color: #333333;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.messageContent {
    color: white;
    text-align: left;
    font-size: 1.1em;
}

.messageSender {
    color: lightgray;
    font-style: bold;
    text-align: left;
    padding: 0px 0px 5px 0px;
}

.messageTime {
    color: lightgray;
    font-size: .7em;
    font-style: italic;
    text-align: left;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
}

#messageInput {
    flex-grow: 1;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    padding: 1px;
    margin: 2px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

#sendButton {
    margin: 2px;
    padding: 1px 6px 1px 6px;
    height: 46px;
    width: 60px;
}


