body {
  background-color: #FDF3E7;
  text-align: center;
}

form {
  position: absolute;
  left: 50%;
  margin-left: -150px;
}

ul {
  padding: 5px;
  width: 300px;
  display:  block;
}

li {
  color: #333333;
  padding: 5px;
  list-style: none;
}

label {
  display: block;
  padding-bottom: 10px;
  font-size: 1.1em;
}

input:not([type=submit]) {
  padding: 1px;
  margin-bottom: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
  text-align: left;
  width: 250px;
}

input{
  text-align: center;
  display: auto; 
}

@media (max-width: 999px) {
  input:not([type=submit]) {
    height: 30px;
    line-height: 30px;
    font-size: 17px;
  }

  input, button {
    height: 40px;
    font-size: 1.1em;
  }

}
