body {
  text-align: center;
  background-color: #FDF3E7;
  margin: 0px;
}

h1 {
  color: #C63D0F;
  font-family: arial;
  font-size: 3.25em;
}

h2 {
  font-family: arial;
  margin: 0px;
  font-size: 1.4em;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: arial;
    font-size: 1.2em;
    list-style-type: none;
    padding: 0;
    background-color: #333333;
}

li {
  display: block;
  color: #fff;
  margin: 10px 0px 10px 0px;
  padding: 5px;
}

input:not([type=submit]) {
  padding: 1px;
  margin: 2px 0px 2px 0px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
  text-align: left;
  font-family: arial;
  width: 300px;
}

input{
  text-align: center;
  margin: auto;
  width: 190px;
}

form {
  background-color: #333333;
  color: white;
  padding: 25px 10px 25px 10px;
  min-width: 400px;
  min-height: 300px;
  border-radius: 10px;
  margin: 7px 40px 7px 40px;
}

@media (max-width: 999px) {
  form {
    flex-grow: 1;
    height: 30vh;
  }

  ul {
    height: 20vh;
  }


  input:not([type=submit]) {
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
  }

  input {
    height: 40px;
    font-size: 1.2em;
  }

}

#formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  margin-top: 10vw;
  background-color: #C63D0F;
  padding: 50px 0px 50px 0px;
  overflow: hidden;
}
